__pycache__/
.aider*
.env
*.pyc
.venv
.python-version
external/oss-fuzz/build
*.swp
*.out
*.err
*.profile
*fuzz_report.html
*.py[cod]
.*$py.class
*.so
.DS_Store
klee_build_output/
seeds_input/
klee_output/